# Aplicação
APP_NAME=Produtos API
APP_VERSION=1.0.0
ENVIRONMENT=development
DEBUG=false
LOG_LEVEL=INFO


DATABASE_URL=postgresql://postgres:postgres@localhost:5435/produtos_dev


TEST_DATABASE_URL=postgresql://postgres:postgres@localhost:5433/produtos_test


DEFAULT_PAGE_SIZE=10
MAX_PAGE_SIZE=100